
/* Section CTA */

.CTA {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 39px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 1,1rem;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    &__btn {
        margin-top: 27px;
        margin-bottom: 57px;
    }
}


/* Section Fonctionnement */

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
    margin: 48px 20px 68px 25px;

    &-steps {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        width: 100%;
    }
}

.fonctionnement-crd {
    box-sizing: border-box;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 21px -4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background;
    border-radius: 20px;
    padding-top: 27px;
    padding-bottom: 27px;

    &__number {
        display: inline-block;
        font-size: 0.9rem;
        text-align: center;
        color: white;
        background-color: $main-color;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 12px;
    }

    &__icon {
        color: $index-icon-color;
        padding-left: 13px;
        width: 24px;
    }
    
    &__text {
        padding-left: 6%;
    }

}


/* Section Restaurants */

.restaurant {
    background-color: $background;
    padding: 54px 18px 66px 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px;
    }
}

.restaurant-crd {
    background-color: white;
    border-radius: 5%;
    box-sizing: border-box;

    .img-section {
        &__new {
            width: 80px;
            height: 29px;
            font-size: 0.8rem;
            color: $element-text;
            background-color: $second-color;
            padding: 7px 9px;
            border-radius: 5%;
            position: absolute;
            top: 13px;

        }

        &__img {
            height: 160px;
            width: 100%;
            object-fit: cover;
            position: relative;
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;

        }

    }

    .crd-content {
        padding: 12px 25px 15px 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .crd-text {

            &__title {
                margin-bottom: 5px;

            }

        }
    }
}