/* button hover */
/* Colors */
/* Gradient */
/* Fonts */
/**** ANIMATION ****/
/* Titles animation variables */
/* Menu animation variables */
body {
  margin: 0;
}

.main-container {
  max-width: 1440px;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 1.1rem;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.principal-btn {
  font-size: 1rem;
  border: 0;
  border-radius: 25px;
  padding: 13px 18px;
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
}
.principal-btn:hover {
  background: linear-gradient(0deg, #a06be1 0%, #ff99e2 100%);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.menu-card {
  background-color: white;
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
}
.menu-card-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.menu-card-text-section__subtitle {
  font-weight: 300;
}
.menu-card-price-section__price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 700;
}

.like-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.like-section__like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.like-section__like:hover .like-section__like--on {
  content: "";
  opacity: 1;
}
.like-section__like--on {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms;
  z-index: 2;
}
.like-section__like--on-icon {
  background: linear-gradient(180deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -text-fill-color: transparent;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 815px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 60px 25px 30px 0;
    gap: 60px;
  }
}
.footer .footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
  color: white;
}
.footer .footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}
@media (min-width: 815px) {
  .footer .footer-list {
    flex-direction: row;
    gap: 40px;
  }
}
.footer .footer-list .footer-list-element__link {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footer-list .footer-list-element__link__icon {
  padding-right: 11px;
}

.header {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  padding-top: 14px;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.header .header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header-nav__link__arrow-left {
  position: absolute;
  left: 17px;
  color: #353535;
}
.header .header__logo {
  display: block;
  height: 44px;
  width: 162px;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 900;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: loading 3000ms;
  visibility: hidden;
}
.loading-icon {
  position: relative;
}
.loading-icon .restaurant-bell {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bell 2000ms;
}
.loading-icon .restaurant-bell__ball {
  background-color: #F6F6F6;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-bottom: -0.1rem;
}
.loading-icon .restaurant-bell__principal {
  display: flex;
}
.loading-icon .restaurant-bell__principal--left-part {
  background-color: #F6F6F6;
  width: 6rem;
  height: 6rem;
  border-top-left-radius: 100%;
}
.loading-icon .restaurant-bell__principal--right-part {
  background-color: #F6F6F6;
  width: 6rem;
  height: 6rem;
  border-top-right-radius: 100%;
}
.loading-dot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  position: absolute;
}
.loading-dot .dot__item {
  background-color: #F6F6F6;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.loading-progress-bar .plate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: plate 500ms ease-out;
}
.loading-progress-bar .plate--top {
  background-color: #F6F6F6;
  height: 0.4rem;
  width: 14rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.loading-progress-bar .plate--bottom {
  background-color: #F6F6F6;
  height: 0.3rem;
  width: 12rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.loading-text {
  color: #F6F6F6;
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  margin-top: 3rem;
  text-align: center;
}

@keyframes loading {
  0%, 100% {
    visibility: visible;
  }
}
@keyframes bell {
  0% {
    transform: translate(-100px, -300px);
    opacity: 0;
    transform-origin: right;
    rotate: 60deg;
  }
  30% {
    opacity: 0;
  }
  80% {
    transform: translate(-50px, -150px);
    rotate: 60deg;
  }
  90% {
    transform: translate(0px, -100px);
  }
  100% {
    transform: translate(0);
    rotate: 0deg;
    opacity: 1;
  }
}
@keyframes plate {
  0% {
    transform: translate(-500px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
  }
}
/***** Menu items animation *****/
.anim-menu {
  animation: menu 500ms 1500ms backwards ease-out;
  transform: translateX(0);
}
.anim-menu--1 {
  animation-delay: 166.6666666667ms;
}
.anim-menu--2 {
  animation-delay: 333.3333333333ms;
}
.anim-menu--3 {
  animation-delay: 500ms;
}
.anim-menu--4 {
  animation-delay: 666.6666666667ms;
}
.anim-menu--5 {
  animation-delay: 833.3333333333ms;
}
.anim-menu--6 {
  animation-delay: 1000ms;
}
.anim-menu--7 {
  animation-delay: 1166.6666666667ms;
}
.anim-menu--8 {
  animation-delay: 1333.3333333333ms;
}
.anim-menu--9 {
  animation-delay: 1500ms;
}

@keyframes menu {
  0% {
    transform: translateX(900px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.search-location-form {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
  box-shadow: inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}
.search-location-form__logo {
  width: 12px;
  height: 16px;
  padding-right: 17px;
}
.search-location-form__input {
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  background-color: #EAEAEA;
  width: 115px;
}
.search-location-form__input:focus::placeholder {
  color: transparent;
}
.search-location-form__input::placeholder {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

/*** Header ***/
.header .nav-index {
  display: none;
}

/*** CTA ***/
.CTA {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CTA__title {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 39px;
  margin-bottom: 15px;
}
@media (min-width: 815px) {
  .CTA__title {
    font-size: 2.5rem;
  }
}
.CTA__subtitle {
  font-size: 1, 1rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.CTA__btn {
  margin-top: 27px;
  margin-bottom: 57px;
}

/*** Fonctionnement ***/
.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  margin: 48px 20px 68px 25px;
}
@media (min-width: 815px) {
  .fonctionnement {
    margin: 50px 185px;
  }
}
.fonctionnement-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  width: 100%;
}
@media (min-width: 815px) {
  .fonctionnement-steps {
    flex-direction: row;
    gap: 35px;
  }
}

.fonctionnement-crd {
  box-sizing: border-box;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 21px -4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-top: 27px;
  padding-bottom: 27px;
  cursor: pointer;
}
.fonctionnement-crd:hover .fonctionnement-crd__icon {
  color: #9356DC;
}
.fonctionnement-crd__number {
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  min-width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 12px;
}
.fonctionnement-crd__icon {
  color: #7E7E7E;
  padding-left: 13px;
  width: 24px;
}
.fonctionnement-crd__text {
  padding-left: 6%;
}

/*** Restaurants ***/
.restaurant {
  background-color: #F6F6F6;
  padding: 54px 18px 66px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.restaurant-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
@media (min-width: 815px) {
  .restaurant-list {
    flex-direction: row;
  }
}

.restaurant-crd {
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
}
.restaurant-crd .img-section {
  position: relative;
  display: flex;
  justify-content: end;
}
.restaurant-crd .img-section__new {
  width: 80px;
  height: 29px;
  font-size: 0.8rem;
  color: #008766;
  background-color: #99E2D0;
  padding-top: 7px;
  border-radius: 5%;
  position: absolute;
  box-sizing: border-box;
  top: 13px;
  right: 13px;
  text-align: center;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}
.restaurant-crd .img-section__img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (min-width: 815px) {
  .restaurant-crd .img-section__img {
    height: 350px;
  }
}
.restaurant-crd .crd-content {
  padding: 12px 25px 15px 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant-crd .crd-content .crd-text__title {
  margin-bottom: 5px;
}

/*** Image ***/
.rstrnt-img-section__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media (min-width: 815px) {
  .rstrnt-img-section__img {
    height: 360px;
  }
}

.rstrnt-principal {
  background-color: #F6F6F6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  z-index: 1;
  padding: 32px 17px 40px 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin-top: -58px;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 815px) {
  .rstrnt-principal {
    padding-left: 210px;
    padding-right: 210px;
  }
}
.rstrnt-principal .rstrnt-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 815px) {
  .rstrnt-principal .rstrnt-title {
    justify-content: center;
    gap: 30px;
  }
}
.rstrnt-principal .rstrnt-title__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
}
.rstrnt-principal .rstrnt-title .like-section {
  margin-right: 24px;
}
@media (min-width: 815px) {
  .rstrnt-principal .rstrnt-title .like-section {
    margin: 0;
  }
}

.rstrnt-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.rstrnt-menu .menu-section .menu-title {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
}
.rstrnt-menu .menu-section .menu-title::before {
  content: "";
  position: absolute;
  top: 19px;
  height: 5px;
  width: 40px;
  border-bottom: 3px #99E2D0 solid;
}
.rstrnt-menu .menu-section .menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 19px;
}

/*** Menu item ***/
.menu-and-check {
  width: 100%;
  display: flex;
  border-radius: 15px;
  background-color: white;
}
.menu-and-check:hover .menu-check {
  transform: scaleX(1);
  padding: 0 20px;
}
.menu-and-check:hover .menu-check .menu-check__check {
  display: block;
}
.menu-and-check .menu-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-and-check .menu-card-text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* Points de suspensions si texte trop long */
  max-width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-and-check .menu-card-text-section__title {
  font-size: 1.1rem;
  font-weight: 700;
}
.menu-and-check .menu-card-text-section__subtitle {
  font-size: 0.9rem;
  font-weight: 300;
}
.menu-and-check .menu-card-price-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.menu-and-check .menu-card-price-section__price {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 700;
  font-size: 0.9rem;
}
.menu-and-check .menu-check {
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms ease-out;
}
.menu-and-check .menu-check__check {
  display: none;
}

/*** Button ***/
.menu-order-btn {
  display: flex;
  justify-content: center;
}
.menu-order-btn__button {
  padding: 16px 49px;
}

/*# sourceMappingURL=style.css.map */
