.footer {
    background-color: $footer-background;
    color: white;
    padding: 22px 25px;

    .footer-title {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1rem;
        color: white;
        margin-bottom: 16px;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;

        .footer-list-element {
            
            &__link {
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;

                &__icon {
                    padding-right: 11px;
                

                }

            }
        }

    }
}
