.footer {
    background-color: $footer-background;
    color: white;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 601px) {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 60px 25px 30px 0;
        gap: 60px;

    }

    .footer-title {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1rem;
        color: white;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7px;

        @media (min-width: 601px) {
            flex-direction: row;
            gap: 40px;
        }

        .footer-list-element {
            
            &__link {
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;

                &__icon {
                    padding-right: 11px;
                

                }

            }
        }

    }
}
