.header {
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    .header__logo {
        height: 36px;
        width: 197px;
        padding-top: 13px;
        padding-bottom: 14px;
        padding-left: auto;
        padding-right: auto;
    }
}
