.search-location-form {
    background-color: $search-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    box-shadow: inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
    
    &__logo {
        width: 12px;
        height: 16px;
        padding-right: 17px;
    }
    
    &__input {
        border: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
        background-color: $search-background;
        width: 115px;

        &:focus::placeholder {
            color: transparent;
        }
        
        &::placeholder {
            color: black;
            font-size: 1rem;
            font-weight: 500;

        }
    }
}              