.search-location-form {
    background-color: $search-background;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__logo {

    }
    
    &__input {
        border: none;
        background-color: $search-background;
    }
    
}