$title-num: 3;
$title-anim-dur: 400ms;
$title-anim-delay: $title-anim-dur / $title-num;


.anim__title {
    animation: title $title-anim-dur backwards ease-out;
    transform: translateX(0);
    @for $i from 1 through $title-num {
        &--#{$i} {
            animation-delay: $title-anim-delay * $i;
         }
    }

}



/*** Titles animation ***/

@keyframes title {
    0% {
        transform: translateX(-300px);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 1;

    }
}

/*** Menu items animation ***/