/***** Menu items animation *****/

.anim-menu {
    animation: menu 500ms $menu-anim-dur backwards ease-out;
    transform: translateX(0);
    @for $i from 1 through $menu-num-9 {
        &--#{$i} {
            animation-delay: $menu-anim-delay * $i;
         }
    }

}

.anim-menu-10 {
    animation: menu 500ms $menu-anim-dur backwards ease-out;
    transform: translateX(0);
    @for $i from 1 through $menu-num-10 {
        &--#{$i} {
            animation-delay: $menu-anim-delay-10 * $i;
         }
    }

}

@keyframes menu {
    0% {
        transform: translateX(900px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}