    .principal-btn {
        border: 0;
        border-radius: 25px;
        padding: 13px 18px;
        color: white;
        font-weight: 500;
        @include button-gradient;
        @include button-shadow;
    }
