    .principal-btn {
        border: 0;
        border-radius: 25px;
        padding: 13px 18px;
        color: white;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
        @include button-gradient;
        @include button-shadow;

        /*
        &:hover {
            
        }
        */
    }
