.menu-card {
    background-color: white;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;

    &-text-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        &__subtitle {
            font-weight: 300;
        }

    }

    &-price-section {

        &__price {
            display: flex;
            flex-direction: column;
            justify-content: end;
            font-weight: 700;
        }

    }

}