body {
    margin: 0;
    color: $main-font-color;
}

.main-container {
    max-width: 767.98px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: $main-font-color;
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

/* Provisoire */
img {
    height: 20px;
    width: 20px;
}