body {
    margin: 0;
}

.main-container {
    max-width: 767.98px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: none;
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1.1rem;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

/* Provisoire */
img {
    height: 20px;
    width: 20px;
}