.restaurant {
    .restaurant_h1 {
    color: black;
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .restaurant_h2 {
        color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    }
}
