/* Colors */

$main-color: #9356DC;
$second-color: #99E2D0;
$element-text: #008766;
$index-icon-color: #7E7E7E;
$background: #F6F6F6;
$search-background: #EAEAEA;
$footer-background: #353535;

/* Gradient */

$gradient-color-1: rgba(147,86,220,1);
$gradient-color-2: rgba(255,121,218,1);
$gradient-color-1--hover: #ba95ea;
$gradient-color-2--hover: #ff99e2;

/* Fonts */

$main-font-color: black;
$big-weight: 700;
$med-weight: 500;