/* Colors */

$main-color: #9356DC;
$second-color: #99E2D0;
$element-text: #008766;
$index-icon-color: #7E7E7E;
$background: #F6F6F6;
$search-background: #EAEAEA;
$footer-background: #353535;

$button-gradient: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);

/* Fonts */

$main-font-color: black;
$big-weight: 700;
$med-weight: 500;